1. Write a function that finds the factorial of a number. Test the function finding the factorial of the number 10.

In [ ]:
def factorial(x):
  if x > 1:
    return x * factorial(x - 1)
  elif x == 1:
    return 1
  else:
    return "No factorial for negative integers"

In [ ]:
factorial(10)

3628800

2. Write a function that determines if a number is a prime number. Test the function with
the following numbers: 3 and 1251

In [ ]:
def prime_finder(x):
  nonprimes = []
  if x == 1 or (x !=2 and x % 2 == 0):
    return f'{x} is NOT a prime number'
  else:
    for i in range(x-2):
      t = i+2
      if t not in nonprimes:
        if x % t == 0:
          return f'{x} is NOT a prime number'
        else:
          nonprimes = nonprimes + [(w + 1) * t for w in range(x // t)]
      else:
        pass
  return f'{x} is a prime number'

In [ ]:
prime_finder(3)

'3 is a prime number'

In [ ]:
prime_finder(1251)

'1251 is NOT a prime number'

3. Write a function that transposes a matrix. Test with a 3 x 3 identity matrix.

In [ ]:
def transpose(x):
  rows = len(x)
  columns = len(x[0])
  transposed = []
  for i in range(columns):
    current = []
    for j in range(rows):
      current.append(x[j][i])
    transposed.append(current)
  return transposed

In [ ]:
transpose([[1,0,0], [0,1,0], [0,0,1]])

[[1, 0, 0], [0, 1, 0], [0, 0, 1]]

4. Using Pandas and Numpy, write a piece of code to combine two series into one. Test
your code with:

In [ ]:
import pandas as pd
import numpy as np

np.random.seed(0)
series1 = pd.Series(np.arange(10))
series2 = pd.Series(np.arange(26))

series3 = pd.Series(list(series1) + list(series2))

5. Using pandas, write a piece of code to convert the first character of each element in a
series to uppercase. Test your code with: series = pd.Series(['nlp', 'will', 'be', 'easy?'])

In [ ]:
def capitalize_series(x):
  newseries = []
  for i in x:
    newseries.append(f'{i[0].upper()}{i[1:]}')
  return pd.Series(newseries)

series = pd.Series(['nlp', 'will', 'be', 'easy?'])
capitalize_series(series)

0      Nlp
1     Will
2       Be
3    Easy?
dtype: object

Bonus: Using pandas, write a piece of code to get the frequency of unique values in the
entire dataframe (not using built in functions). Test your code with: dataFrame = pd.DataFrame(np.random.randint(5, 10, 20).reshape(-1, 4), columns = list('abcd'))

In [ ]:
dataFrame = pd.DataFrame(np.random.randint(5, 10, 20).reshape(-1, 4), columns = list('abcd'))

freq_count = dict()

unique_vals = set(dataFrame.stack())
for val in unique_vals:
  freq_count[val] = list(dataFrame.stack()).count(val)

print(freq_count)

{5: 6, 6: 6, 7: 1, 8: 4, 9: 3}